version: "3.9"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"

  ingest-service:
    build: ./ingest-service
    ports:
      - "3000:3000"
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis

  worker-service:
    build: ./worker-service
    environment:
      - REDIS_HOST=redis
      - MONGO_URL=mongodb://mongodb:27017/logs
    depends_on:
      - redis
      - mongodb
    deploy:
      replicas: 3

  api-service:
    build: ./api-service
    ports:
      - "4000:4000"
    depends_on:
      - mongodb
